# Flutter/Dart
*.iml
*.idea
*.ipr
*.iws
*.lock
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*

# Firebase
google-services.json
firebase_options.dart
ios/Runner/GoogleService-Info.plist
android/app/google-services.json

# Other
.DS_Store
.vscode/
*.log
*.pyc
*.swp
*.swo
.env
*.key
*.pem
*.cert 
